<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener
			class-name="com.leadAngel.utilities.TestAllureListener" />
	</listeners>

	<!-- ================================================= FOR CHROME ================================================== -->
	<test name="LA_chrome">

		<parameter name="browser" value="chrome" />
		<parameter name="roleName" value="admin" />

		<classes>
		          
		          <class name="com.leadAngel.testCases.TC_CrudOperation_EventTemplate"/>
		          
			<!-- ********************************************* Calendar integration Crud Operation *********************************** -->
       <!--     
			    <class name="com.leadAngel.testCases.TC_CrudOperation_EventTemplate"/>*
			    <class name="com.leadAngel.testCases.TC_CrudOperation_Events_CalenderIntegration"/>*-->
			


		</classes>
		
		
	</test> <!-- Test -->
</suite> <!-- Suite -->
