<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
               <Pattern>Administration-%d{yyyy-MM-dd HH:mm:ss:SSSSSS} %t %p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </Console>
 
     		<RollingFile name="RollingInfoLogFile"  filePattern="logs/Info.AdministrationModule-%d{yyyy-MM-dd}.log" immediateFlush="true" append="true">
            <PatternLayout>
               <Pattern>Administration-%d{yyyy-MM-dd HH:mm:ss:SSSSSS} %t %p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
         
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
		   
        <RollingFile name="RollingErrorLogFile"  filePattern="logs/Error.AdministrationModule-%d{yyyy-MM-dd}.log" immediateFlush="true" append="true">
            <PatternLayout>
                <Pattern>Administration-%d{yyyy-MM-dd HH:mm:ss:SSSSSS} %t %p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
             <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
           
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="Logger" level="DEBUG" additivity="false">
             <AppenderRef ref="RollingInfoLogFile" />
            <AppenderRef ref="RollingErrorLogFile" />
            <AppenderRef ref = "Console" />
        </Logger> 
        <Root level="DEBUG">
            <AppenderRef ref="RollingInfoLogFile" />
            <AppenderRef ref="RollingErrorLogFile" />
            <AppenderRef ref = "Console" />
        </Root>
    </Loggers>
</Configuration>  