<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LeadAngelV1">
	
	<listeners>
	
		 <listener class-name="com.leadAngel.utilities.TestAllureListener" />
	</listeners>
<!-- ================================================= FOR CHROME ================================================== -->
	<test name="LA_chrome">
 	 
		<parameter name="browser" value="chrome" />	
		<parameter name="roleName" value="admin" />		
		
		 <classes>
		 
		
		             
		         
	
		 <!-- ================================== Sanity Test Cases ========================================== -->
           
               <!--  <class name ="com.leadAngel.testCases.TC_Sanity_Availability_UserSettings"/>*
                     <class name ="com.leadAngel.testCases.TC_Sanity_FallbackAssignee_UserSettings"/>*
                     <class name ="com.leadAngel.testCases.TC_Profile_UserSettings"/>* -->
                     
                     
                     
		</classes>
		</test>	
</suite> 
